<div class="card">
  <h5 class="card-header">Consulta Veterinaria</h5>
  <div class="card-body">
    <h5 class="card-title">Seleccione su Destino</h5>
    <p class="card-text">Haga click para información de clientes y mascotas.</p>
    <br>
    <%= link_to 'Clientes', clients_path, class: "btn btn-primary m-2" %><br>
    <%= link_to 'Mascotas', pets_path, class: "btn btn-primary m-2" %><br>
    
  </div>
</div>
